.social-login {
  border: 1px solid rgb(208, 208, 208);
  border-radius: 25px;
}
.button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
.button:focus {
  outline: 0;
}
.card-section {
  padding-bottom: 100px;
  padding-top: 100px;
}
